/* Geral */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #444444;
    font-weight: 400;
    text-decoration: none;
}

h1 {
    font-size: 2.5em;
    color: #4673E6;
    margin-bottom: 2vw;
    font-weight: 600;
}

p {
    text-align: center;
}

.btn {
    background-color: #E6B946;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    width: 7em;
    height: 2.7em;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 500ms;
}

.btn:hover {
    background-color: #eece7f;
}

.text {
    color: #fff;
    margin-bottom: 1vw;
}

/* Header */
header {
    display: flex;
    min-height: 115px;
    max-height: 150px;
    width: 100vw;
    background-color: #4673E6;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 2px 2px 10px #888;
    position: fixed;
}

.navbar {
    display: flex;
    width: 100vw;
    justify-content: right;
    align-items: center
    
}

.navbar-item {
    padding: 0.2vw;
    margin-right: 2vw;
}

.header-btn {
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;
}

.logo {
    height: 10.5vw;
    width: 15vw;
    min-height: 105px;
    min-width: 150px;
    max-height: 140px;
    max-width: 200px;
    
}

/* Home */
.home {
    padding-top: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-home {
    display: flex;
    align-items: center;
    
}

.area-profissional {
    margin: 0;
    padding: 0;
}

.area-item {
    margin-top: 0.7vw;
    padding-left: 2vw;
}

.foto {
    height: 295px;
    width: 221px;
    border-radius: 10px;
    border-style: solid;
    border-color: #4673E6;
    border-width: 8px;
    margin-left: 7vw;
    padding: 0;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

/* Project */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
}

.div-project {
    background-color: #4673E6;
    border-radius: 15px;
    margin: 2vw;
    padding: 1.5vw;
    height: 14vw;
    width: 22vw;
}

.project-list {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Skills */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 20vw;
    width: 19vw;
    background-color: #4673E6;
    border-radius: 15px;

}

/* Contact */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 5vw;
    padding-left: 15vw;
    padding-bottom: 5vw;
}

.contacts {
    transition: 500ms;
}

.contacts:hover {
    color: #bbbbbb;
}